.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 10px;
  font-weight: 500;
  border-radius: 8px;
  background-color: gray;
  color: #252836;
}

.text {
  flex-grow: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: gray;
  color: #000;
  cursor: pointer;
}

.btn:hover {
  background-color: #f44336;
}

.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 5px;
}
